{{define "main"}}
<div class="rows box">
    <p>
        <button hx-post="/logout">Sign Out</button>
    </p>
    <p>
        <a href="/change-password" role="button">Change Password</a>
    </p>
</div>
{{end}}