{{ define "nav" }}
    <header class="navbar">
        <nav class="contents">
            <ul role="list">
                <li><a href="/notes">Notes</a></li>

                <li><a href="/labels" aria-current="page">Labels</a></li>

                <li><a href="/notes/import">Import Notes</a></li>

                <li>
                    <a href="/account">Account</a>
                </li>
            </ul>
        </nav>
    </header>
{{end}}