<section x-data="{}">
    <h1>Label Management</h1>
    <button @click='$refs.modal.showModal()'>New</button>
    <div id="content">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{ for range .Data }}
                <tr>
                    <td>{{ .Title }}</td>
                    <td>{{ .Description }}</td>
                    <td>
                        <button hx-get="/labels/{{ .Id }}/edit" hx-swap="outerHTML"
                            hx-target="create-modal">Edit</button>
                        <button class="secondary" hx-delete="/labels/{{ .Id }}" hx-swap="delete"
                            hx-target="previous tr">
                            Delete
                        </button>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>

        <dialog x-ref="modal">
            <article>
                <header>
                    New Label
                </header>
                <form hx-post="/labels" hx-target="#content" hx-swap="outerHTML">
                    <label>Title</label>
                    <input type="text" name="title" required>
                    <label>Description</label>
                    <textarea name="description"></textarea>
                    <footer>
                        <button type="submit">Create</button>
                        <button type="button" class="secondary" @click="$refs.modal.close();">
                            Cancel
                        </button>
                    </footer>
                </form>
            </article>
        </dialog>
        <dialog id="create-modal"></dialog>
    </div>
</section>

<h3>Register</h3>
<form hx-post="/register" hx-boost="true">
    <input type="text" name="username">
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="submit">Register</button>
</form>